
{% extends 'base.html' %} 

{% block content %}
<h2> {{ data|safe  }}</h2>
<h1>{% block title %} Contact {% endblock %}</h1>
<form method="post">

    <div class="mb-3">
        <label class="form-label" for="email">Subject</label>
        <input class="form-control" type="email" name="email"
        placeholder="youremail@gmail.com"
        value="{{ request.form['email'] }}"></input>
    </div>
    <div class="mb-3">
        <label class="form-label" for="title">Subject</label>
        <input class="form-control" type="text" name="subject"
        placeholder="Subject"
        value="{{ request.form['subject'] }}"></input>
    </div>
    <div class="mb-3">

        <label class="form-label" for="message">Message</label>
        <textarea class="form-textarea" name="message"
                  placeholder="Message here!"
                  rows="15"
                  cols="60"
                 >{{ request.form['message'] }}</textarea>
    </div>

   

    <br>
    <button class="btn btn-primary" type="submit">Submit</button>

    
</form>

{% endblock %}