
{% extends 'base.html' %} 

{% block content %}
<div class="container">

<h1>{% block title %} Contact Me!{% endblock %}</h1>

{% if data == 'enabled' %}
<form id="contact" method="post" class=>

    <div class="mb-3">
        <label class="form-label" for="email">Subject</label>
        <input class="form-control" type="email" name="email"
        placeholder="youremail@gmail.com"
        value="{{ request.form['email'] }}"></input>
    </div>
    <div class="mb-3">
        <label class="form-label" for="title">Subject</label>
        <input class="form-control" type="text" name="subject"
        placeholder="Subject"
        value="{{ request.form['subject'] }}"></input>
    </div>
    <div class="mb-3">

        <label class="form-label" for="message">Message</label>
        <br>
        <textarea class="form-control" name="message"
                  placeholder="Message here!"
                    rows="4" cols="30"
                  >{{ request.form['message'] }}</textarea>
    </div>

    <br>
    <button class="btn btn-primary" type="submit" onclick="toggle_display">Submit</button>
</form>
{% else %}
    <h2> Thank you for your message. I will get back to you as soon as I can on it.</h2>
{% endif %}


</div>


{% endblock %}