
{% extends 'base.html' %} 
{% block title %} Home {% endblock %}

{% block content %}
<h1>Hi! I am Sam.</h1>
<p>
  I am a software engineer, manager, and project manager. I have been
  responsible for leadership and technical expertise in software engineering
  with a few different companies using many different systems architectures,
  hardware platforms, operating systems, frameworks, and programming languages
  throughout my career journey. I am married to my wife of 22 year, and the father of three kids.
   I like all things .NET, tech gadgets, robotics,woodworking, sailing, boats and programming languages.
</p>

<p>
  I have not blogged on my own regurlary over the years, but I have been around
  answering posts or generally lurking on the internet. I have decided to start
  blogging on my own site to share my thoughts and experiences with the world. I
  hope you enjoy my blog and find it useful. I may even post videos of my
  learning things or generally working through something. Through this I am
  hoping to approach mostly things in .NET Programming, but I may also post
  about other things that I find interesting like this version of my site in
  python Flask for fun.
</p>

<h2>My Repos on <i class="fa-brands fa-github"></i></h2>
<p>
  Here are some of my repos on
  <a href="https://github.com/samuelervin?tab=repositories" target="_blank">
    Github.
  </a>
  I have more, but these are some of the ones that I have been working on
  recently.
</p>
{% endblock %}
