{% extends 'base.html' %} {% block title %} Resume {% endblock %} {% block
content %}

<div id="resume">
  <div class="container">
  <div class="row">
    <div class="col">
      <h3>Samuel Ervin</h3>
      <p> <a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for('contact') }}"><i class="fa-solid fa-envelopes-bulk"></i> Contact Me</a>  |  <a href="https://www.linkedin.com/in/samuelervin/" target="_blank"> <i class="fa-brands fa-linkedin"></i> LinkedIn</a> 
       | <a href="https://github.com/samuelervin?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a></p>
      <div>
        <div>
          <br />
          <div class="row">
            <div class="col">
              <h3>PROFESSIONAL PROFILE</h3>
              <p>
                Experienced Senior Software Engineering Manager, Staff Software
                Engineer and Project Manager with multiple years of experience
                at several companies. I have led and coached several diversely
                geographically located agile teams to produce enterprise systems
                and applications that met or exceeded audit, legal and customer
                satisfaction goals. I have designed and developed global
                applications and enterprise systems that were/are used by the
                number one Retail, Store Layout, Manufacturing and Hospitality
                industries using several different programming languages and
                frameworks such as C, C++. C#, VB.Net, Java, Python, GO, NodeJS,
                and React deployed on both cloud and internal infrastructures.
                As a software engineer and manager I have worked on designing
                strategies, implementing and documenting best practices for my
                own and enterprise teams for DevOps at Walmart using the tooling
                required to implement these such as ServiceDesk, Jira, Concord
                Ansible, Looper, Jenkins, ArgoCd, git, and GitHub to ensure
                CI/C.
              </p>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <h3>CORE COMPETENCIES</h3>
              <br />
              <ul>
                <li>Technical Leadership</li>
                <li>Coaching and Developing</li>
                <li>Editing and Proofreading</li>
                <li>Research and Analysis</li>
                <li>Project Management</li>
                <li>Version Control Systems</li>
                <li>Software Architecture</li>
                <li>HTML/CSS</li>
                <li>Microservices and REST</li>
                <li>Microsoft Office Suite</li>
                <li>.NET Programming</li>
                <li>Java Programming</li>
                <li>Agile Frameworks and Mentoring</li>
                <li>Software Architecture</li>
                <li>Messaging Frameworks</li>
                <li>Customer Support</li>
                <li>Operating Systems</li>
                <li>SOA</li>
                <li>Devops and CI/CD</li>
                <li>JIRA/ServiceDesk</li>
              </ul>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <h3>RELEVANT EXPERIENCE</h3>
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col-5 float-start">
              <h6>Cloud Project Manager Samaritan’s Purse, Boone, NC, USA</h6>
            </div>
            <div class="col-5 float-end">
              <h6>December 2022 – Present</h6>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Responsible for planning, execution, and monitoring of the Ark
                  Cloud project in order to meet business requirements and
                  technical requirements.
                </li>
                <li>
                  Communicating with business and IT leadership at all levels on
                  project plans, scope, and progress for the Ark Cloud.
                </li>
                <li>
                  Working with a team of directors and the CIO to operationalize
                  the Ark cloud in the organisation and build Road maps for the
                  cloud out to three years.
                </li>
                <li>
                  Assisting the security team and Ark cloud team with meeting
                  PCI requirements for monitoring, alerting, and documentation
                  are built into the Ark Cloud in order to provide PCI cloud
                  services.
                </li>
                <li>
                  Assisting in Architecture and Design sessions for the
                  Openstack Cloud and the design of the Customer journey for
                  Samaritan’s Purse, Billy Graham Evangelistic Association, and
                  third-party like-minded tenants who will use the cloud.
                </li>
                <li>
                  Leading and Coaching the Ark Cloud Services team through Agile
                  Methodologies and using the Scrum Framework.
                </li>
                <li>
                  Working with all levels of the internal and external customers
                  to build user stories for the backlog and prioritising based
                  on business needs.
                </li>
                <li>
                  Utilising Jira and Confluence for organising the teams
                  Sprints, Product Road Map, and Reporting on project metrics
                  and progress.
                </li>
                <li>
                  Working with the Ark Cloud team to build a CI/CD pipeline for
                  the Ark Cloud and the services that will be provided by the
                  Ark Cloud.
                </li>
                <li>
                  Working with the Ark Cloud team to build a monitoring and
                  alerting system for the Ark Cloud and the services that will
                  be provided by the Ark Cloud.
                </li>
                <li>
                  Working with the Ark Cloud team to build a documentation
                  system for the Ark Cloud and the services that will be
                  provided by the Ark Cloud.
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-5 float-start">
              <h6>
                SR SWE Mgr. Walmart Global Technology, Bentonville, AR, USA
              </h6>
            </div>
            <div class="col-5 float-end">
              <h6>January 2019 – December 2022</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Responsible for the management and career development of
                  software engineers, quality engineers, and technical project
                  management professionals.
                </li>
                <li>
                  Defining and managing team goals on multiple projects over
                  eight different POS Product teams. Ensuring all deliverables
                  and dates are met by the team.
                </li>
                <li>
                  Planning, budgeting, and maintenance for contracts for
                  different contract agencies working to fill project needs for
                  expanded resources.
                </li>
                <li>
                  Planning and prioritising the yearly objectives, quarterly
                  deliverables, and bi-weekly sprint work for multiple product
                  teams to ensure delivery and drive results.
                </li>
                <li>
                  Engage with multiple teams in Global Tech and the Walmart
                  business to understand needs, help define results, return on
                  investment, and overall user stories.
                </li>
                <li>
                  Defining and designing different systems architectures needed
                  to support Enterprise Services and Products at Walmart.
                </li>
                <li>
                  Working with POS support teams to ensure multiple products are
                  supported. Leading support calls to drive revolutions to
                  issues and driving root cause analysis by all teams involved
                  for issue reporting.
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-5 float-start">
              <h6>Solutions Manager Walmart, Bentonville, AR, USA</h6>
            </div>
            <div class="col-5 float-end">
              <h6>July 2015 – January 2019</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Designing and developing solutions to support business
                  partners and users in correctly managing and merchandising the
                  space in stores.
                </li>
                <li>
                  Using JDA API’s, .NET, SQL server, and Oracle to capture
                  category data to keep store specific floor plans based on
                  categories updated between Retail Oriented CAD, JDA Category
                  Knowledge Base and JDA Floor planning.
                </li>
                <li>
                  Using AutoCAD API with .NET and SQL database to capture store
                  specific space information for all Walmart Stores to be used
                  for planning and analytics.
                </li>
                <li>
                  Using .NET to write plugins and commands in JDA and AutoCAD to
                  validate and automate steps in business processes and ensure
                  quality of work being done by users.
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-5 float-start">
              <h6>Store Ops. Project Mgr III Walmart, Bentonville, AR, USA</h6>
            </div>
            <div class="col-5 float-end">
              <h6>July 2014 – July 2015</h6>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Using .NET and Alteryx to build reporting and analytics models
                  and reporting to support major Annual Operating Plan project
                  initiatives to measure benefits to ensure the delivery of ROI
                  and other benefits by each initiative.
                </li>
                <li>
                  Using A/B testing tools such as APT and Alteryx to help
                  provide descriptive statistical analysis for different
                  projects in the Central Operations area.
                </li>
                <li>
                  Conducting data analysis and building data ETL in .NET for
                  analysis of all sizes of datasets up to and over five billion
                  rows from DB2, Teradata, Informix, and MSSQL server. Building
                  Tableau dashboards and .NET tools for reporting metrics to end
                  users for further analysis or providing data in customised
                  databases.
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-5 float-start">
              <h6>Store Ops. Project Mgr II Walmart, Bentonville, AR, USA</h6>
            </div>
            <div class="col-5 float-end">
              <h6>August 2012 – July 2014</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Product owner and software engineer on the Operational
                  Excellence Assessment tool that assessed all of the stores
                  across US operation for Walmart stores. Built using ASP.NET
                  using MVC, jQuery, Bootstrap, SQL server with entity framework
                  and later modifications using Angular.js.
                </li>
                <li>
                  Built an application development environment for the
                  Innovations Operations Support area for prototyping and
                  building full-scale production ready applications to support
                  rapidly changing business needs.
                </li>
                <li>
                  Strategic development using .NET tools for automated tools and
                  reports for use by executive leadership and stores on KPI's
                  and processes managed by the Innovations Operations Support,
                  Merchandising, and other areas.
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-5 float-start">
              <h6>Sr. Prgmr. Analyst , Walmart, Bentonville, AR, USA</h6>
            </div>
            <div class="col-5 float-end">
              <h6>May 2008 –August 2012</h6>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul>
                <li>
                  On the Order Management System (OMS) Project acted as team
                  lead and developer. Used the SOMA methodology to build a
                  modern order management system based on a Service Oriented
                  Architecture. Built using Java, Spring.MVC, Hibernate, Jersey,
                  and Richfaces.
                </li>
                <li>
                  Designed and implemented the first ILOG BRMS implementation at
                  Wal-Mart for a full scale application. Also worked on the
                  design and implementation of the Lombardi Teamworks BPMS for
                  OMS.
                </li>
                <li>
                  Worked with IBM and Wal-Mart Infrastructure to design,
                  document and build all server infrastructure for OMS.
                </li>
                <li>
                  Designed and implemented many tests to help determine the
                  overall SOA strategy to be used by OMS during requirements and
                  analysis phases of the project before initial design began.
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-5 float-start">
              <h6>Prgmr. Analyst , Hilton Hotels Inc., Memphis, TN, USA</h6>
            </div>
            <div class="col-5 float-end">
              <h6>August 2005 –May 2008</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Planned, designed and wrote software for automating the
                  sending of standard and negotiated rates to four different
                  Global Distribution Systems vendors.
                </li>
                <li>
                  Fixing program errors and planning, design, and developing new
                  additions to the Award-winning Hiltons OnQ Reservation system.
                </li>
                <li>
                  Wrote interfaces for RSA Identity management system using a
                  provided C-API for Hilton’s reservation booking software named
                  Horizon.
                </li>
                <li>
                  Planned, designed, and implemented the rewriting for portions
                  of rates and inventory management applications for Hilton’s
                  property management system in VB6. Writing and maintaining web
                  services interfacing with both of Hilton’s central
                  reservations systems.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br />

     <div class="row">
          <div class="col">
            <h3>EDUCATION</h3>
          </div>
     </div>
      <div class="row">
        <div class="col-6">
          <h6>Capella University</h6>
          <h7> From: August 2005    To: Dec 2007 </h7>
        </div>
        <div class="col-6">
          <p>Master of Science in Proj. Mgmt and Org. Leadership</p>
          <br>
        </div>
        <br>
      </div>

      <div class="row">
        <div class="col-6">
          <h6>University of Memphis</h6>
          <h7> From: August 2002     To: May 2005 </h7>
        </div>
        <div class="col-6">
          <p>Bachelors of Professional Studies in Information Tech.</p>
          <br>
        </div>
        <br
      </div>

      <div class="row">
        <div class="col-6">
          <h6>Southwest Tennessee Community College</h6>
          <h7>From: August 1997    To: Dec 2002 </h7>
        </div>
        <div class="col-6">
          <p> Associates of Science in Computer Science</p>
          <br>
        </div>
        <br>    
      </div>
    </div>
  </div>
  {% endblock %}
</div>
</div>
